{% extends 'clinic/base.html'%}
{% block content %}    

        <div class="center-div">
                <div class ="center-div-box">
        
        Resources found on this website are a compilation of low-cost clinics in the five listed cities in Texas (Dallas, Brownsville, Laredo, Pasadena, Houston). Certain clinics listed will also take uninsured patients, and other may take undocumented patients as well. This website is neither affiliated nor sponsored by any of the clinics listed on this website, and is solely the results of third party research on an assortment of clinics across cities in the Texas region. The creators of this website are not responsible for facilitating communication with these clinics.

        <!-- <br> -->
        </div>
        </div>
{% endblock %}